@import 'globals.less';

@addon: 'theme';
@addontype: 'stagingbanner';
@addonelement: 'banner';

.loadAddonVariables();

.stagingBanner {
  .p {
    color: @textColor;
  }
  padding: 0 !important;
  margin-top: 0 !important;
}

@media only screen and (max-width: 1400px) and (min-width: 768px) {
  body.has-toolbar:not(.has-sidebar):not(.has-sidebar-collapsed)
    .stagingBanner
    .ui.container {
    padding: 1.5em 1.5em !important;
  }
}

.skiplinks-wrapper when (@overrideSkipLinks = true) {
  position: relative !important;
  top: 0 !important;

  a.skiplink {
    position: absolute !important;
    top: -100px !important;
  }
}
